<header>
    <div class="px-4 flex justify-between">
      <!-- Left side with title and count -->
      <div class="flex items-center bg-gray-300 p-2 rounded-lg text-midnight-blue-950">
        <div class="flex items-center space-x-2">
          <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4.354a4 4 0 110 5.292M15 21H3v-1a6 6 0 0112 0v1zm0 0h6v-1a6 6 0 00-9-5.197M13 7a4 4 0 11-8 0 4 4 0 018 0z" />
          </svg>
          <h1 class="text-sm font-medium">Usuarios</h1>
        </div>
        <span class="px-2 py-1 text-sm">
          <%= User.count %>
        </span>
      </div>
  
      <!-- Right side with search and actions -->
      <div class="flex items-center space-x-4">
        <!-- User Menu -->
        <div class="relative">
          <%= button_to destroy_user_session_path, method: :delete, class: "bg-midnight-blue-950 text-white px-3 py-2 rounded-lg inline-flex items-center space-x-2 focus:outline-none" do %>
            <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1" />
            </svg>
            <div class="flex flex-col">
              <span class="text-xs">Bryan</span>
              <span>Salir</span>  
            </div>
          <% end %>
        </div>
      </div>
    </div>
</header>